table {
    border-collapse: collapse;
    border-radius: 30px;
    background-color: rgba(92, 16, 155, 0.22);
    outline: 4px solid black;
    width: max-content;
    min-width: 100%;
}

th,
td {
    padding: 8px 12px;
    white-space: nowrap;
    shape-margin: 30px;
    border-bottom: 2px solid black;
}

td:hover {
    background-color: rgba(13, 153, 109, 0.678);
}

th:first-child,
td:first-child {
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgba(177, 101, 228, 0.678);
}